<a href="https://colab.research.google.com/github/gunner55/graph-intent/blob/main/Pytorch_Geometrics_Intents.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
import io
from sklearn.preprocessing import LabelEncoder

In [3]:
url="https://raw.githubusercontent.com/gunner55/graph-intent/main/intent-graph-buy.csv"
bi=requests.get(url).content
buy=pd.read_csv(io.StringIO(bi.decode('utf-8')))
buy.columns=['keywords','search volume','page','price','membership duration']

In [14]:
buy.head(10)

            keywords  search volume  ... price  membership duration
0       Fitness Club          33100  ...    30                    3
1      Fitness Group           2400  ...   100                   12
2      Fitness Class          22200  ...    15                    1
3        Fitness Gym          40500  ...    30                    3
4    Fitness Program          14800  ...    54                    6
5     Fitness Center          74000  ...    54                    6
6     Fitness Centre          74000  ...    54                    6
7  Fitness Community            720  ...    30                    3
8       Fitness Team            480  ...    15                    1
9     Fitness Studio         301000  ...   100                   12

[10 rows x 5 columns]

In [16]:
url="https://raw.githubusercontent.com/gunner55/graph-intent/main/intent-graph-clicks.csv"
ci=requests.get(url).content
click=pd.read_csv(io.StringIO(ci.decode('utf-8')))
click.columns=['keywords','search volume','page']

In [18]:
click.head(10)

               keywords  search volume                       page
0          Fitness Camp           2400           fitness botcamps
1     Fitness Challenge          22000  monthly fitness challenge
2          Fitness Cult            210           fitness workouts
3        Fitness Regime           2400           fitness exercise
4          Fitness Band          90500        fitness accessories
5  Fitness Organization            260                   homepage
6          Fitness Plan          27100           workout schedule
7       Fitness Website           5400                   homepage
8          Fitness Blog          12100               fitness news
9     Fitness Programme          14800           workout schedule

In [19]:
item_encoder = LabelEncoder()
buy['keywords'] = item_encoder.fit_transform(buy.keywords)
buy['page'] = item_encoder.fit_transform(buy.page)
buy.head(2)

   keywords  search volume  page  price  membership duration
0         3          33100     0     30                    3
1         5           2400     0    100                   12

In [22]:
item_encoder = LabelEncoder()
click['keywords'] = item_encoder.fit_transform(click.keywords)
click['page'] = item_encoder.fit_transform(click.page)
click.head(2)

   keywords  search volume  page
0         2           2400     1
1         3          22000     6

In [27]:

import torch.nn as nn
import torch.nn.functional as F
import torchvision
import torchvision.transforms as transforms
import sklearn.metrics as metrics

In [30]:
import torch
from tqdm import tqdm

class IntentBinaryDataset():
    def __init__(self, root, transform=None, pre_transform=None):
        super(IntentBinaryDataset, self).__init__(root, transform, pre_transform)
        self.data, self.slices = torch.load(self.processed_paths[0])

In [32]:
  @property
  def raw_file_names(self):
        return []
  @property
  def processed_file_names(self):
    return ['https://raw.githubusercontent.com/gunner55/graph-intent/main/intent-graph-clicks.csv']

In [46]:
def download(self):
        pass
    
def process(self):
        
        intent_list = []

        # process by keywords
        grouped = df.groupby('keywords')
        for keywords.group in tqdm(grouped):
            keywords = LabelEncoder().fit_transform(group.keywords)
            group = group.reset_index(drop=True)
            group['keywords'] = keywords
            node_features = group.loc[group.keywords==keywords,['keywords','page']].sort_values('keywords_id').page.drop_duplicates().values
            node_features = torch.LongTensor(node_features).unsqueeze(1)
            target_nodes = group.keywords.values[1:]
            source_nodes = group.keywords.values[:-1]

            edge_index = torch.tensor([source_nodes, target_nodes], dtype=torch.long)
            x = node_features

            y = torch.FloatTensor([group.label.values[0]])

            data = Data(x=x, edge_index=edge_index, y=y)
            data_list.append(data)
        
            data, slices = self.collate(data_list)
            torch.save((data, slices), self.processed_paths[0])

In [ ]:
#using shuffle() to ensure the dataset is properly shuffled
            
dataset = dataset.shuffle()
train_dataset = dataset[:4]
val_dataset = dataset[5:7]
test_dataset = dataset[7:]
len(train_dataset), len(val_dataset), len(test_dataset)